@model IEnumerable<BlowOut.Models.Instruments>

<h2>Rentals</h2>


<div class="jumbotron">
    <p>
        @Html.ActionLink("Add New Instrument", "Create", "Instruments")
    </p>
    <table class="table">
        <tr>
            <th>Instrument</th>
            <th>Condition</th>
            <th>Status</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Content/Images/@(item.instrumentDesc).jpg" style="width: 100px; height: auto; border-radius: 5%;"/>
                    @Html.ActionLink(item.instrumentDesc, "Create", new { id = item.instrumentID })
                </td>
                <td>
                    @Html.Raw(item.instrumentType)
                </td>
                <td>
                    @if (item.clientID == 0)
                    {
                        @Html.Raw("Available")
                    }
                    else
                    {
                        @Html.Raw("Rented")
                    }
                </td>
            </tr>
        }
    </table>
</div>